

<%if @results.empty?%>
	<p>No results found.</p>
<%else%>
	<%=form_tag new_booking_path, :method => 'get' do%>
		<%=hidden_field_tag 'num_tickets', params[:passengers]%>

		<%@results.each do |f|%>
			<%= label_tag 'flight_id', f.from_airport.code%> to <%=f.to_airport.code%>, <%=f.departure_date.to_formatted_s(:long)%>
			<%=radio_button_tag 'flight_id', f.id%><br>
		<%end%>

		<%=submit_tag('continue')%>
	<%end%>
<%end%>