<h1>Flights#index</h1>

<%=form_tag flights_path, :method => 'get' do%>
    <%= label_tag 'from_airport_id', 'From'%>
	<%= select_tag(:from_airport_id,options_for_select(@airports_array))%>

	<%= label_tag 'to_airport_id', 'To'%>
	<%= select_tag(:to_airport_id, options_for_select(@airports_array, 2))%><br>

	<%= label_tag 'passengers', '# of Passengers'%>
	<%= select_tag 'passengers', options_for_select([1,2,3,4])%><br>
	
	<%= label_tag 'date', 'Date' %>
	<%= select_month(Date.today)%>
	<%= select_year(Date.today, :start_year => Date.today.year, :end_year => 8.years.from_now.year)%>

    <%= submit_tag("Search")%>
<%end%>


<p>Find me in app/views/flights/index.html.erb</p>

<%=render 'results'%>
