<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid no-padding">
    	<%flash.each do|type, msg| %>
        <div class = "alert alert-<%=type%>">
    		  <strong><%=type%>!</strong> <%=msg%>
        </div>
    	<% end %>

      <%= yield %>
    </div>

     <h1 id= "home-icon" title="home">
      <a href=<%=root_path%>><span class="glyphicon glyphicon-home"></span></a>
    </h1>
  </body>
</html>
